//Este archivo es un partial que contiene las variables de estilos que se utilizarán en el proyecto.
//no se compila
//empieza por _

$body-color: #fe0fea!default; 
$h1-color: #ffffff!default;
$body-font-size:2rem!default;
$h1-size: 3.2rem!default;
