@use 'vars' as v;
@use 'sass:color';

//MIXINS
//Box-sizing
@mixin box-sizing($box-model) {
    box-sizing: $box-model;
}

//Crear grid
@mixin do-grid($num-colms, $gap: 10px) {
    display: grid;
    grid-template-columns: repeat($num-colms, 1fr);
    gap: $gap;
}

//boton
@mixin btn ($bg-color, $fgcolor) {
    background-color: $bg-color;
    border: 0;
    border-radius: 1rem;
    color: $fgcolor;
    display: block;
    font-weight: 700px;
    padding: 1.2rem 3rem;
    text-align: center;
    width: 100%;
    //Transicion
    transition: background-color 0.3s;
    @include tablet() {
        width: auto;
    }
    
    &:hover {
        background-color: color.adjust($bg-color, $lightness: -10%);
    }
}

//Media queries
@mixin mobile {
    @media screen and (min-width: v.$small) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: v.$medium) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: v.$big) {
        @content;
    }
}