// variables
// Fuentes

$main-font: 'Roboto', sans-serif;

// Colores
$main-color: #e8505b;
$secondary-color: #455a64;
$black: #000000;
$grey: #eceeef;
$white: #ffffff;


//Separacion
$spacing: 5rem;

//Tamaño media-queriesk
$small:488px;
$medium:768px;
$big:1024px;